

.container{
    display: flex;
    justify-content: space-between;
    height: 92vh;
    box-sizing: border-box;
}

.left-menu{
    box-sizing: border-box;
    width: 50%;
}

.content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}


#name{
    color: #f57c00;

}
.right-menu{
    width: 50%;
}

.imgContainer{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: yellow;
    background-image: url('../../assets/tauheed.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #f57c00;
}

#resumeBtn{
    height: 40px;
    background-color: rgb(65, 94, 182);
    color: white;
    font-size: 13px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}
#resumeBtn:hover{
    cursor: pointer;
}

.shareButton{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px #f57c00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn :hover{
    cursor: pointer;
}

.btn1{
    box-shadow: 0px 0px 0px white;
}
.btn2{
    box-shadow: 0px 0px 0px white;
}
.btn3{
    box-shadow: 0px 0px 0px white;
}
.btn4{
    box-shadow: 0px 0px 0px white;
}

@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .left-menu{
        width: 100%;
    }
    .shareButton{
        width: 60%;
        display: flex;
        justify-content: space-between;
        /* background-color: yellow; */
    }
    .right-menu{
        width: 100%;
    }
    .content{
        box-sizing: border-box;
        padding: 5%;

    }
    .content h1{
        font-size: 24px;
    }
}